$sw-body-bg:                #191b20;
$sw-text-color:             #fff;
$sw-text-muted-color:       #8992aa;

$sw-resizer-color:          $sw-text-muted-color;

$sw-editor-bg:              #1e2127;

$sw-primary:                darken(#428bca, 6.5%) !default; // #337ab7
$sw-success:                #5cb85c !default;
$sw-info:                   #5bc0de !default;
$sw-warning:                #f0ad4e !default;
$sw-danger:                 #d9534f !default;
