// Styles for the embedded code editor.
@import "node_modules/codemirror/theme/monokai.css";
@import "node_modules/codemirror/lib/codemirror.css";

body {
    margin-top: 20px;
}

.panel {
    border-radius: 0;

    .panel-heading {
        border-radius: 0;
    }
}

.btn {
    border-radius: 0;
}

ul.sw-filetree {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 5px 10px;
        cursor: pointer;

        &:hover, &.active {
            background-color: #eee;
        }
    }

    .sw-filetree-indent {
        display: inline-block;
        width: 1.28571429em;
    }
}
