// Styles for the embedded code editor.
@import "node_modules/codemirror/theme/monokai.css";
@import "node_modules/codemirror/lib/codemirror.css";

@import "vendor/bootstrap/stylesheets/bootstrap";

@import "partials/growls";


body {
    margin-top: 20px;
}

.panel {
    border-radius: 0;

    .panel-heading {
        border-radius: 0;
    }
}

.btn {
    border-radius: 0;
}

ul.sw-filetree {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 5px 10px;
        cursor: pointer;

        &:hover, &.active {
            background-color: #eee;
        }
    }

    .sw-filetree-indent {
        display: inline-block;
        width: 1.28571429em;
    }
}


.sw-tag {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999;

    &.sw-tag-modified {
        background-color: #5bc0de;
    }
}

.sw-editor-tabs > li {
    & > span {
        position: relative;
        display: block;
        padding: 10px 15px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-bottom: none;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .sw-close-span {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 42px;
            padding: 8px;

            .sw-close-button {
                display: inline-block;
                width: 24px;
                padding: 2px;
                opacity: 0;
                transition: opacity 0.1s linear;
                color: inherit;
                background: white;
            }
        }

        &:hover > .sw-close-span > .sw-close-button {
            opacity: 1;
        }
    }

    &.active > span {
        background: #272822;
        color: #f8f8f2;

        .sw-close-span > .sw-close-button {
            background: #272822;
        }
    }
}
