.sw-workspace-list {
    margin: auto;
    text-align: left;

    & > ul {
        list-style: none;
        padding: 0;
    }

    & > ul > li > a {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 20px;
        color: $sw-text-color;
        text-decoration: none;
        font-size: $font-size-large;
        border: 1px solid $sw-resizer-color;

        &:hover {
            background-color: $sw-editor-bg;
        }
    }
}
